html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  padding-top: 5rem;
  height: 15rem;
}

.robot {
  width: 320px;
  height: 100%;
  position: absolute;
  left: 40%;
  bottom: 0;
  margin-left: 0;
}

.robot-body {
  width: 320px;
  position: absolute;
  bottom: 0;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 4rem;
  left: 42.6%;
}

.robot-brain:hover {
  top: 2rem;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  align-content: center;
  bottom: 22%;
}

.robot-head-right {
  left: 50%;
}

.robot-head-left {
  right: 50%;
}

.robot-head-right:hover {
  left: 60%;
  bottom: 30%;
}

.robot-head-left:hover {
  right: 60%;
  bottom: 30%;
}
